body {
    margin: 0;
    font-family: "Roboto";
    color: white;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    /* background-color: #f1f1f1; */
    background-color: black;
    
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    font-weight: 700;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: black;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    color: black;
    
    align-items: center;
    display: flex;
    flex-direction: column;
}
div.content .img-logo{
    width: 310px;
    height: 122px;
    
}
div.content .middle-content{
    background-color: #EFEFEF;
    margin: 5rem 10rem 0rem 10rem;
    padding: 2rem;
}
div.content .middle-content h4{
    
    font-weight: 700;
    justify-content: center;
    display: flex;
}

div.content .end-content{
    margin: 5rem 10rem 0rem 10rem;
}
div.content .end-content h4{
    
    font-weight: 700;
    justify-content: center;
    /* display: flex; */
}
div.content .end-content .end-content-text{
    vertical-align: top;
    
}
div.content br{
    border-width: 2px;
}
.footer {
    border: 2px;
    bottom: 0;
    text-align: center;
}
.footer span{
    float: left;
    margin-left: 23%;
}
  
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}